extends ../base

block content
    if errorMessage
        span=errorMessage
    form(method="POST", enctype="multipart/form-data")
        label(for="imgFileUrl")
        input(type="file", accept="image/*", required, id="imgFileUrl", name="imgFileUrl")
        input(name="productName", placeholder="제품명", type="text", required)
        input(name="description", placeholder="제품 설명", type="text", required)
        input(name="price", placeholder="가격", type="number", required)
        input(name="quantity", placeholder="수량", type="number", required)
        label(for="category-select") Category:
        select(name="category", id="category-select" multiple size="4")
            option(value="top" selected) Top
            option(value="bottom") Bottom
            option(value="outer") Outer
            option(value="shoes") Shoes
            option(value="acc") Acc
        input(type="submit", value="Upload")
